<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StreamPackageDirectoryPath" value="C:\Reactor\StreamServicePackages"/>
    <add key="StreamServiceInstallationDirectoryPath" value="C:\Reactor\StreamServices"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
