<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9" />
  <package id="log4net" version="1.2.10" />
  <package id="Magnum" version="2.0.0.1" />
  <package id="MassTransit" version="2.0.0.4" />
  <package id="Microsoft.Activities" version="1.8.7.52" />
  <package id="Stact" version="1.0.0.1" />
  <package id="Wakizashi" version="1.1.0.5" />
</packages>